<div class="container">
    <div class="chat-header">
        <h1 class="text-center my-2">Welcome to <span class="text-warning"> {{currentRoomName}} </span>Group</h1>
        <button (click)="leaveChat()" class="btn btn-danger">Leave Chat</button>
    </div>

    <div class="messaging">
        <div class="inbox-msg">
            <div class="row">
                <div class="col-8">
                    <div class="inbox-type">
                        <div class="mesgs">
                            <div #scrollMe class="msg_history">
                                <ng-container *ngFor="let message of this.chatService.messages$ | async">
                                    <div [ngClass]="{'incoming_msg': message.user !== loggedInUserName, 'outgoing_msg': message.user === loggedInUserName}">
                                        <div *ngIf="message.user != loggedInUserName" class="incoming_msg_img">
                                          <img src="https://ptetutorials.com/images/user-profile.png">
                                        </div>
              
                                        <div *ngIf="message.user !== loggedInUserName" class="received_msg">
                                          <div class="received_width_msg">
                                            <span class="time_date">{{message.user}}</span> 
                                              <p>{{message.message}}</p>                                                                                                            
                                          </div>
                                        </div>    
                                                              
                                        <div *ngIf="message.user === loggedInUserName" class="sent_msg">                
                                          <!-- <span class="time_date">{{message.user}} | {{message.messageTime | date: 'medium'}}</span>        -->
                                          <p>{{message.message}}</p>                                                                     
                                        </div>     
                                      </div>
                                </ng-container>
                            </div>
                            <div class="type_msg">
                                <div class="input_msg_write">
                                    <input (keydown.enter)="sendMessage()" [(ngModel)]="inputMessage" type="text"
                                        class="write_msg" placeholder="Type a message" />
                                    <button (click)="sendMessage()" class="msg_send_btn" type="button"><i
                                            class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                   
                </div>
                <div class="col-4">
                    <div class="inbox-people">
                        <div class="headind_srch row">
                            <div class="recent_heading">
                                <h4 clas="text-white">Connected Users</h4>

                            </div>
                        </div>

                        <div #scrollUser class="inbox_chat">
                            <ng-container *ngFor="let useraa of this.chatService.connectedUsers$ | async">
                                <div class="chat_list" [ngClass]="{'active_user': useraa === loggedInUserName}">
                                    <div class="chat_people">
                                        <div class="chat_img"><img
                                                src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
                                        </div>
                                        <div class="chat_ib mt-1">
                                            <h5>
                                                {{ useraa }}
                                                <span *ngIf="useraa === loggedInUserName" class="is-you"> is You</span>
                                                <span class="online"></span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>